<%- include("partials/header"); -%>

    <div class="d-flex align-items-center justify-content-center pt-5">
      <div class="text-center">
        <h1 class="display-1 fw-bold"><%= statusCode %></h1>
        <p class="fs-3 text-responsive"> <span class="text-danger">Uh-Oh! </span><%= message %></p>
        <a href="<%= redirect %>" class="btn btn-primary home-btn"><%= button %></a>
      </div>
    </div>
  
<%- include("partials/footer"); -%>