<%- include("partials/header"); -%>

<h1>Welcome To My Blog!</h1>
<p class="starting-content"><%= startingContent %></p>
<h3><span class="underline">Featured Posts</span></h3>

<div class="row pt-5 pb-5 px-5">
  <% posts.forEach((post)=> { %>
    <div class="col-lg-4 pb-3 pe-4">
    
      <div class="featured-post">
        <div class="featured-image"><img src="/marguerite-729510__340.jpg" alt="sample thumbnail"></div>
        <div class="featured-body">
          <div class="title-line">
            <h5 class="featured-title"><a href="/posts/<%=post._id%>"><%= post.title %></a></h4>
          </div>
          <p><%= post.content.slice(0, 75) + " ..." %></p>
          <p class="red-op">
            <%= post.username %> · <%= post.relativeDate %>
          </p>
        </div>
      </div>
    
    </div>
  <% }) %>
</div>


<%- include("partials/footer"); -%>