<%- include("partials/header"); -%>

<h1 class="title">Welcome To My Blog!</h1>
<div class="text-center">
  <p class="fs-5 text-responsive">I think, therefore I am.</p>
  <div class="blockquote-footer">
    <cite title="Rene Descartes" class="text-responsive">René Descartes</cite>
  </div>
</div>

<p class="starting-content text-responsive px-lg-3">
  Life takes us on several journeys, of which self-discovery and self-expression are among the most fulfilling. 
  As someone who is passionate about programming as well as writing, I’ve created this blog to explore my inner
  self and share my thoughts, fears and hopes. 
  <br>
  I hope my words resonate with you and help you see my world better.
</p>
<h2 class="fs-3 section-title"><span class="underline">Featured Posts</span></h3>

<div class="row pt-5 pb-5 mx-lg-4 px-3 px-lg-5">
  <% posts.forEach((post)=> { %>
    <div class="col-lg-4 pb-3 px-2">
    
      <div class="featured-post">
        <div class="featured-image"><img src="<%= post.image.url %>" alt="thumbnail"></div>
        <div class="featured-body">
          <h3 class="title-link fs-6">
            <a href="/posts/<%=post._id%>"><%= post.title %></a>
          </h3>
          <p class="opacity-60"><%= post.relativeDate %></p>
        </div>
      </div>
    </div>
  <% }) %>
  <p class="title-link fs-5" style="text-align: center;"><a href="/posts">View All Posts</a></p>
</div>


<%- include("partials/footer"); -%>