<%- include("partials/header"); -%>

<h1>Welcome To My Blog!</h1>
<figure class="text-center">
  <blockquote class="blockquote">
    <p class="res-text">I think, therefore I am.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite title="Rene Descartes" class="res-text">René Descartes</cite>
  </figcaption>
</figure>
<p class="starting-content res-text px-lg-3">
  Life takes us on several journeys, of which self-discovery and self-expression are among the most fulfilling. 
  As someone who is passionate about programming as well as writing, I’ve created this blog to explore my inner
  self and share my thoughts, fears and hopes. 
  <br>
  I hope my words resonate with you and help you see my world better.
</p>
<h3><span class="underline">Featured Posts</span></h3>

<div class="row pt-5 pb-5 px-3 px-lg-5">
  <% posts.forEach((post)=> { %>
    <div class="col-lg-4 pb-3 px-3">
    
      <div class="featured-post">
        <div class="featured-image"><img src="<%= post.image.url %>" alt="thumbnail"></div>
        <div class="featured-body">

            <h5 class="title-line"><a href="/posts/<%=post._id%>"><%= post.title %></a></h4>
          <p class="red-op">
            <%= post.username %> · <%= post.relativeDate %>
          </p>
        </div>
      </div>
    </div>
  <% }) %>
  <h5 class="title-line" style="text-align: center;"><a href="/posts">View All Posts</a></h5>
</div>


<%- include("partials/footer"); -%>