<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= startingContent %></p>

<div class="row pt-3 pb-5 px-5">
  <% posts.forEach((post)=> { %>
    <div class="col-4 pb-3 pe-4">
    
      <div class="featured-post">
        <div class="featured-image"><img src="/marguerite-729510__340.jpg" alt="sample thumbnail"></div>
        <div class="featured-body">
          <div class="title-line">
            <h5 class="featured-title"><%= post.title %></h4>
          </div>
          <p><%= post.content.slice(0, 75) + " ..." %></p>
          <a href="/posts/<%=post._id%>">Read More</a>
        </div>
      </div>
    
    </div>
  <% }) %>
</div>


<%- include("partials/footer"); -%>