<%- include("partials/header"); -%>

  <h1>
    <%= title %>
  </h1>
  <div class="post-body">
    <p class="post-content pb-3 red-op">
      <i class="fa-solid fa-user" style="color: #515151"></i>
      <span class="username">
        <%= username %>
      </span>
      <i class="fa-solid fa-clock" style="color: #515151;"></i>
      <span class="created-date"><%= datePosted %></span>
    </p>
    <div class="post-image">
      <img src="<%= image %>" alt="sample image">
    </div>
    <p class="credit">Source: <%- imageSource %></p>
    <div class="post-content py-4 res-text">
      <%- content %>
    </div>
  </div>

<%- include("partials/footer"); -%>
