<%- include("partials/header"); -%>

  <h3><span class="underline">All Posts</span></h3>

  <div class="row py-5 px-3 px-lg-5">
    <% posts.forEach((post)=> { %>
      <div class="col-lg-6 px-3 border-bottom">

        <div class="flex">
          
          <h5 class="title-line"><a href="/posts/<%=post._id%>">
              <%= post.title %>
            </a>
          </h5>

          <% if(auth) { %>
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/posts/<%=post._id%>" class="link">View Post</a></li>
              <li><a class="dropdown-item" href="/delete/<%=post._id%>" class="link">Delete Post</a></li>
            </ul>
          </div>

          <% } %>
        </div>
        <p>
          <em>
            <span class="red-op"> <%= post.dateString %></span>
          </em>
        </p>


      </div>
      <% }) %>

  </div>


  <%- include("partials/footer"); -%>