<%- include("partials/header"); -%>

<h3><span class="underline">All Posts</span></h3>

<div class="row pt-5 pb-5 px-3 px-lg-5">
  <% posts.forEach((post)=> { %>
  <div class="col-lg-4 ps-4 pe-0">
    
          <h5 class="title-line"><a href="/posts/<%=post._id%>"><%= post.title %></a></h4>
          <p>
            <em><span class="red-op">Posted by </span><%= post.username %><span class="red-op"> on <%= post.dateString %></span></em>
          </p>
    
    
  </div>
  <% }) %>

</div>


<%- include("partials/footer"); -%>